.header {
  width: 100vw;
  height: 15vh;
  background-color: var(--color-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  position: relative;
}

.header a {
  font-size: 3rem;
  transition: transform 0.3s ease;
}

.header a:hover {
  transform: scale(1.1);
}

.header a img {
  width: 10rem;
}

.header nav .menuLista {
  display: flex;
  gap: 2rem;
}

.header nav input {
  display: none;
  min-width: 100%;
  min-height: 100%;
}

.header nav .menuLista li {
  transition: all 0.3s ease;
}

.header nav .menuLista li :hover {
  transform: scale(1.1);
}

.header nav .menuLista li a {
  font-size: 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.header nav .menuLista li a:hover {
  color: var(--color-text-hover);
  background-color: var(--color-accent);
}

.botaoCarrinho {
  background: none;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  color: var(--color-accent);
  position: relative;
}

.badge {
  position: absolute;
  top: 0.5rem;
  right: -1.5rem;
  background: var(--color-text-hover);
  color: var(--color-accent);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 7px;
  min-width: 20px;
  text-align: center;
  animation: surgirDeBaixo 0.4s ease-out;
}

.botaoCarrinho:hover {
  color: var(--color-text-hover);
  transform: transition 0.3s ease;
  animation: carrinhoAgitado 0.3s ease-in;
}

@keyframes carrinhoAgitado {
  0% {
    transform: translateX(0rem);
  }

  25% {
    transform: translateX(0.5rem);
  }

  50% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

@keyframes surgirDeBaixo {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  60% {
    transform: translateY(-5px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 49rem) {
  .header {
    padding: 0;
    justify-content: space-around;
  }

  .header a img {
    width: 10rem;
    height: 10rem;
  }

  .header a {
    order: 1;
  }
  .header nav {
    order: 0;
    width: 5rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .header nav label {
    cursor: pointer;
    width: 8rem;
    height: 6rem;
    margin: 0 auto;
  }

  .header nav label .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header nav label .menu .hamburguer {
    background-color: var(--color-primaria);
    width: 3.5rem;
    height: 2px;
    position: relative;
    display: block;
    transition: 0.3s ease-in-out;
    z-index: 10;
  }

  .header nav label .menu .hamburguer::before,
  .header nav label .menu .hamburguer::after {
    background-color: var(--color-primaria);
    content: "";
    width: 3.5rem;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  .header nav label .menu .hamburguer::before {
    top: -10px;
  }

  .header nav label div .hamburguer::after {
    bottom: -10px;
  }

  .header nav label .menu:hover {
    color: var(--color-hover);
  }

  .header nav input {
    transition: 0.3s ease-in-out;
  }

  .header nav input label {
    display: block;
    width: 100%;
    height: 100%;
  }

  .header nav input:checked ~ label {
    position: fixed;
    z-index: 6;
  }

  .header nav input:checked ~ label span {
    transform: rotate(45deg);
  }

  .header nav input:checked ~ label span::before {
    transform: rotate(90deg);
    transform: translateY(1rem);
  }

  .header nav input:checked ~ label span::after {
    transform: rotate(90deg);
    bottom: 0;
  }

  .header nav .menuLista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-menu);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;

    /* estado fechado */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-30rem);
    transition:
      opacity 0.25s ease,
      visibility 0.25s ease,
      transform 0.25s ease;
  }

  .header nav .menuLista li {
    transition: 0.2s all ease;
    font-size: 3rem;
  }

  .header nav .menuLista li .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    color: var(--color-text);
    border-radius: 1rem;
    transition: 0.2s all ease;
  }

  .header nav .menuLista li .links:hover {
    background-color: var(--color-accent);
    transform: scale(1.05);
  }

  .header nav input:checked ~ ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .header .botaoCarrinho {
    order: 2;
    width: 5rem;
  }
  .header .botaoCarrinho .badge {
    right: -1rem;
  }
}
